APP_ENV=development

# Local API
# API_BASE_URL=http://localhost:3000/v1

# Production (Railway)
API_BASE_URL=https://ahlulbayt-production.up.railway.app/v1
ENABLE_DEV_LOGGING=true
GOOGLE_WEB_CLIENT_ID=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_ANDROID_CLIENT_ID=
